<ion-app>
  <ion-menu  menuId="menu1" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>Airbnb</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/places/tabs/discover">
            <ion-icon slot="start" name="add"></ion-icon>
            <ion-label>Discover Places</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/booking">
            <ion-icon slot="start" name="Business"></ion-icon>
            <ion-label>Your Booking</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onlogout()" button>
            <ion-icon slot="start" name="auth"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
