<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-buttons>
    <ion-title>booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6">
        <ion-list>
          <ion-item-sliding *ngFor="let item of loadingBooking">
            <ion-item>
              <ion-label>{{item.placeTitle}}</ion-label>
            </ion-item>
            <ion-item-options >
              <ion-item-option color="danger" >Cancel</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content>
